
<h1>All Customers</h1>
<div>
  <p><%= link_to "Missing Email Customers", missing_email_customers_path %></p>
  <p><%= link_to "Alphabetized Customers", alphabetized_customers_path %></p>
</div>
<div class="customer-cards" >
  <% @customers.each do |customer| %>
    <%= render partial: 'customer', locals: { customer: customer } %>
  <% end %>
</div>
