.alphabetized {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.alphabetized img {
  max-width: 100%;
  height: auto;
}

.alphabetized h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.alphabetized-cards {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 20px;
}

.alphabetized-card {
  flex: 0 0 auto;
  max-width: calc(20% - 20px);
}

