.missing_email {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.missing_email img {
  max-width: 100%;
  height: auto;
}

.missing_email h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.missing_email-cards {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 20px;
}

.missing_email-card {
  flex: 0 0 auto;
  max-width: calc(20% - 20px);
}

